/* App.css */
.app-container {
    display: flex;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px; /* Set the width to 100px */
    background-color: #333;
    color: #fff;
}

.content-container {
    flex-grow: 1;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 20px;
    box-sizing: border-box;
}

.centered-content {
    text-align: center;
}
