.app-container {
    display: flex;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px; /* Set the width to 100px */
    background-color: #333;
    color: #fff;
}

.content-container {
    flex-grow: 1;
    margin-left: 100px; /* Adjusted to match the sidebar width */
    padding: 20px; /* Add padding for better spacing */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.centered-content {
    text-align: center;
    margin-top: 50vh; /* Center the content vertically */
    transform: translateY(-50%);
}
