/* App.css */

html,
body {
    margin: 0;
}

.app-container {

}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px;
    background-color: #333;
    color: #fff;
}

.grid_template1{
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 2fr;
    padding: 10px;
}

.content-container {
    flex-grow: 1;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 20px;
    box-sizing: border-box;
}

.centered-content {
    text-align: center;
}
