.Challenge
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 0px 16px 16px 5em;
    text-align: center;
}

.challengeDescription{
    width: 50%;
    font-size: 1.2em;
    margin: 1.3em auto;
}

.challengeTitle{
    font-size: 3em;
}

.authorText{
    font-size: 0.9em;
}

.fileInput {
    justify-self: center;
    width: 25%;
    margin-top: 1em;
}

.submitChallenge {
    margin-top: 3em;
    justify-self: center;
    width: 35%;
}
