.Course
{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two rows, first row adjusts to content height */
    gap: 16px;
    padding: 16px;
    padding-left: 5em;
}


.LeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 0px 30px 0px 0px;
}

.RightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

