.Home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 16px;
    padding-left: 5em;
}

.MainContainer {
    display: flex;
}



.CityChallenge {
    display: inline-block;
    height: auto;
    margin: 0;
    padding: 0;
}

.LeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 16px; /* Adjust margin as needed */
    width: 50%;
}

.InfiniteScrollContainer {
    height: 250px;
    overflow-y: scroll;
    padding-left: 40px;
    margin-top: 16px; /* Adjust margin as needed */
}

.RightContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.RecommendedCourses {
    width: 100%;
}

/* Add any other styles you need for the Card component or other elements */
