.tile {
    display: flex;
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.left-half,
.right-half {
    flex: auto;
    justify-content: center;
    align-items: center;
}

.left-half {

    padding: 0;
    margin: 0;
}

.right-half {
   margin: 0;
    padding: 0;
}

.divider {
    width: 1px;
    background-color: #ccc;
}

.left-half h3{
    margin: 0;
}
